.dashboard-container {
    background-image: url('../resources/hospital-empanelment.png');
    background-size: cover; /* Make the background image cover the entire container */
    background-position: center; /* Center the background image */
    padding: 20px;
    max-width: 100%; /* Ensure the container's width doesn't exceed the screen width */
    height: 100vh; /* Make the container full height of the viewport */
    margin: auto;
    font-family: Arial, sans-serif;
    opacity: 0.9; /* Add transparency to the background */
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.dashboard-container h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.add-hospital-link {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 4px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hospital-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(33.3333% - 20px);
    box-sizing: border-box;
}

.hospital-card h2 {
    margin-top: 0;
    color: #2196F3; /* Blue */
}

.hospital-card p {
    margin: 10px 0;
    color: #333;
}

.action-button {
    background-color: #2196F3; /* Blue */
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .dashboard-container {
        padding: 10px;
    }

    .dashboard-container h1 {
        font-size: 1.5rem;
    }

    .add-hospital-link,
    .action-button {
        padding: 8px;
        font-size: 14px;
    }

    .hospital-card {
        width: 100%;
    }
}